/vendor
/node_modules
/public/hot
/public/storage
/public/build
/storage/*.key
/storage/pail
/storage/logs/*.log
/storage/framework/*
/storage/*.log
/storage/*
!/storage/app
!/storage/app/public

.env
.env.backup
.env.production

/bootstrap/cache/*
.phpunit.result.cache
.phpunit.cache
.phpactor.json

Homestead.json
Homestead.yaml

npm-debug.log
yarn-error.log
auth.json

/.idea
/.vscode
/.nova
/.fleet
/.zed
